.modal-dialog {
	max-width: 1000px;
	margin: 5% auto;

	@include desktop-s {
		width: 90%;
	}
}

.modal-content {
	border-radius: 0;
	border: none;
}

.modal-header {
	position: relative;
	padding: 15px;
	border-bottom: none;
	text-align: center;
	border-radius: 0;

	.close {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 15px;
		width: 30px;
		height: 30px;
		margin: 0;
		background: url("../img/close.png") no-repeat center center;
	}
}

.modal-title {
	color: #153336;
	font-weight: 700;
	font-size: 32px;
	margin: 0 auto;
}

.modal-body {
	position: relative;

	.main_contacts {
		width: 100%;
	}
}
