extends ../main-layout

block title
	| О нас

block content
	section
		.container_inner
			.about_wrap
				.about_head
					.page_head
						h2 О нас
				.about_content
					.about_content_descr
						h2 О группе компаний «ХимИнвест»
						.about_text.about_text_mod
							p
								| «Миссия группы компаний: работать на достижение 
								| продовольственной безопасности России, предоставляя 
								| сельхозтоваропроизводителям качественные и недорогие 
								| минеральные удобрения»
						.about_text
							p
								| ООО «Верхнекамские удобрения» является регистрантом и 
								| производителем фосфоритной муки Верхнекамской марки: А, Б, В 
								| и входит в группу компаний «ХимИнвест».
							p
								| ООО «ХимИнвест» было создано в 2008 году для реализации 
								| горно-химических проектов на базе Вятско-Камского месторождения 
								| фосфоритов. В частности, общество осуществляло поставку и 
								| монтаж шагающих экскаваторов марки ЭШ 10/70 в интересах ОАО 
								| «ОХК «УРАЛХИМ». Всего было поставлено пять экскаваторов, два 
								| из которых было смонтировано и начались пуско-наладочные работы.
							p
								| В 2011 году ООО «ХимИнвест» приступило к проектированию цеха 
								| по производству фосфоритной муки Верхнекамской и в апреле 2014 
								| года приступило к опытно-промышленной эксплуатации.
							p
								| Технологическая линия позволяет одновременно производить 
								| фосфоритную муку Верхнекамскую марки: А, Б, В Марка А в 
								| соответствие с ГОСТ 5716-74 норма В, марка Б (тонкого помола 
								| 40 – 60 мкм) и марки В (особо тонкого помола 5 – 10 мкм). 
								| Это основное отличие используемой технологии производства от 
								| всех использовавшихся ранее. Сушка фосфоритного концентрата 
								| осуществляется с использованием отходов, возникающих в ходе 
								| заготовки древесины и ее переработки, что попутно позволяет 
								| решить проблему утилизации отходов.
							p
								| В настоящее время ООО «Верхнекамские удобрения» проводят НИР 
								| и разрабатывают исходные данные для проектирования производства 
								| фосфоритной муки, преципитата, а так же глауконита, используя в 
								| качестве сырьевой базы отходы производства ОАО «Верхнекамский 
								| фосфоритный рудник», складированные в хвостохранилище.
					.about_content_foto
						a(href="img/foto04.jpg" data-fancybox="gallery").about_foto_link
							img(src="img/foto04.jpg", alt="About foto")
						a(href="img/foto03.jpg" data-fancybox="gallery").about_foto_link
							img(src="img/foto03.jpg", alt="About foto")
						a(href="img/foto01.jpg" data-fancybox="gallery").about_foto_link
							img(src="img/foto01.jpg", alt="About foto")