extends ../main-layout

block title
	| О нас

block content
	section
		.container_inner
			h2 Новости
			.news_slide
				.news_slide_item
					a(href="#").news_link
						.overlay
						img(src="img/foto05.jpg", alt="")
						.news_content
							.news_head
								p Минсельхоз показал символику для экопродуктов
							.news_info
								.news_title
									p Новости Москвы
								.news_date
									p 20 сентября 2019
				.news_slide_item
					a(href="#").news_link
						.overlay
						img(src="img/foto05.jpg", alt="")
						.news_content
							.news_head
								p Минсельхоз показал символику для экопродуктов
							.news_info
								.news_title
									p Новости Москвы
								.news_date
									p 20 сентября 2019
				.news_slide_item
					a(href="#").news_link
						.overlay
						img(src="img/foto05.jpg", alt="")
						.news_content
							.news_head
								p Минсельхоз показал символику для экопродуктов
							.news_info
								.news_title
									p Новости Москвы
								.news_date
									p 20 сентября 2019
				.news_slide_item
					a(href="#").news_link
						.overlay
						img(src="img/foto05.jpg", alt="")
						.news_content
							.news_head
								p Минсельхоз показал символику для экопродуктов
							.news_info
								.news_title
									p Новости Москвы
								.news_date
									p 20 сентября 2019
				.news_slide_item
					a(href="#").news_link
						.overlay
						img(src="img/foto05.jpg", alt="")
						.news_content
							.news_head
								p Минсельхоз показал символику для экопродуктов
							.news_info
								.news_title
									p Новости Москвы
								.news_date
									p 20 сентября 2019

	section
		.container_inner
			.page_head
				h2 Минсельхоз показал символику для экопродуктов
			.about_text.about_text_half
				p
					| Фосфоритная мука - не новый продукт в сельском 
					| хозяйстве. Она применялась много лет еще во времена 
					| СССР, доказывая свою результативность. ООО 
					| «Верхнекамские удобрения» заложило ряд опытов для оценки 
					| эффективности действия фосфоритной муки. Оценка 
					| проводилась на различных почвах и сельхоз культурах. 
					| Зона эффективного действия фосфоритной муки 
					| распространяется на дерново-подзолистые суглинистые 
					| почвы, серые лесные почвы, выщелоченные черноземы, 
					| оподзоленные черноземы. Перечисленные почвы 
					| характеризуются низким содержанием подвижного фосфора 
					| (до 100 мг/кг) и повышенной кислотностью ≤ 5,5 ед. рН. 
					| При повышенной кислотности фосфор из фосфоритной муки 
					| переходит в доступные для растений формы, снижая, при 
					| этом, общую кислотность почвы. Опыты проводились на 
					| самых распространённых сельхоз культурах, таких как 
					| яровой рапс, ячмень, кукуруза, пшеница, клевер.
				p
					| В опыте, проведенном совместно с ФГБУ ЦАС «Кировский наилучшие 
					| результаты были получены на урожае клевера, где дополнительная 
					| оценочная прибыль с одного гектара составила 6 250 руб., а прирост 
					| урожайности - 29% Опыты, заложенные в Татарстане совместно с ФГБУ 
					| ЦАС «Татарский» показали устойчивую прибавку по всем сельхоз 
					| культурам свыше 30%, тогда как прибавка по кукурузе превысила 
					| 40%, а дополнительная оценочная прибыль по данной сельхоз культуре 
					| составила - 13 140 руб. с 1 га. На основании всех наших опытов и 
					| изучения работ, проведённых другими агрономическими службами, 
					| можно сделать вывод о том, что фосфоритная мука прекрасно 
					| зарекомендовала себя в использовании на всех сельскохозяйственных, 
					| плодово-ягодных и декоративных культурах, а также газонах, 
					| обеспечивая, при этом, существенную прибавку урожайности. Более 
					| подробную информацию о результатах наших опытах вы можете получить, 
					| изучив диаграммы ниже.