extends ../main-layout

block title
	| Наши опыты

block content
	section
		.container_inner
			.about_wrap
				.product_head
					.page_head
						h2 Наши опыты
				.product_content
					.about_text.about_text_half
						p
							| Фосфоритная мука - не новый продукт в сельском хозяйстве. 
							| Она применялась много лет еще во времена СССР, доказывая свою 
							| результативность. ООО «Верхнекамские удобрения» заложило ряд опытов 
							| для оценки эффективности действия фосфоритной муки. Оценка 
							| проводилась на различных почвах и сельхоз культурах. Зона 
							| эффективного действия фосфоритной муки распространяется на 
							| дерново-подзолистые суглинистые почвы, серые лесные почвы, 
							| выщелоченные черноземы, оподзоленные черноземы. Перечисленные 
							| почвы характеризуются низким содержанием подвижного фосфора 
							| (до 100 мг/кг) и повышенной кислотностью ≤ 5,5 ед. рН. При 
							| повышенной кислотности фосфор из фосфоритной муки переходит 
							| в доступные для растений формы, снижая, при этом, общую кислотность 
							| почвы. Опыты проводились на самых распространённых сельхоз 
							| культурах, таких как яровой рапс, ячмень, кукуруза, пшеница, клевер.
						p
							| В опыте, проведенном совместно с ФГБУ ЦАС «Кировский наилучшие результаты 
							| были получены на урожае клевера, где дополнительная оценочная прибыль с 
							| одного гектара составила 6 250 руб., а прирост урожайности - 29% Опыты, 
							| заложенные в Татарстане совместно с ФГБУ ЦАС «Татарский» показали устойчивую 
							| прибавку по всем сельхоз культурам свыше 30%, тогда как прибавка по кукурузе 
							| превысила 40%, а дополнительная оценочная прибыль по данной сельхоз культуре 
							| составила - 13 140 руб. с 1 га. На основании всех наших опытов и изучения 
							| работ, проведённых другими агрономическими службами, можно сделать вывод о 
							| том, что фосфоритная мука прекрасно зарекомендовала себя в использовании на 
							| всех сельскохозяйственных, плодово-ягодных и декоративных культурах, а также 
							| газонах, обеспечивая, при этом, существенную прибавку урожайности. Более 
							| подробную информацию о результатах наших опытах вы можете получить, изучив 
							| диаграммы ниже.

	section
		.container_inner
			.graphs_wrap
				.graphs_title
					p Влияние фосфоритной муки на урожайность сельхозкультур (Опыт ФГБУ ЦАС “Татарский”)
				.graphs_list
					.graphs_box
						canvas#myChart(width="300" height="350")
					.graphs_box
						canvas#myChart2(width="300" height="350")
					.graphs_box
						canvas#myChart3(width="300" height="350")
			.graphs_wrap
				.graphs_title
					p Влияние фосфоритной муки на урожайность сельхозкультур (Опыт ФГБУ ЦАС “Кировский”)
				.graphs_list
					.graphs_box
						canvas#myChart4(width="300" height="350")
					.graphs_box
						canvas#myChart5(width="300" height="350")
			.graphs_wrap
				.graphs_title
					p Прибавка по каждой сельхозкультуре составила:
				.graphs_list
					.circle#circles-1
					.circle#circles-2
					.circle#circles-3
					.circle#circles-4
					.circle#circles-5
			.table_info_wrap
				.table_info
					.table_info_row.table_info_row_head
						.table_info_cell Прибаква по каждой сельхозкультуре составила:
						.table_info_cell Рыночная стоимость, руб./ц
						.table_info_cell Дополнительные доход с 1 га
						.table_info_cell Прибыль с 1 га
					.table_info_row
						.table_info_cell 
							| <b> Яровой рапс </b> - 33,4% (9,7 ц/га);
						.table_info_cell 2 100 руб./ц
						.table_info_cell 20 370 руб.
						.table_info_cell 13 870 руб.
					.table_info_row
						.table_info_cell 
							| <b> Ячмень </b> - 33,4% (9,7 ц/га);
						.table_info_cell 2 100 руб./ц
						.table_info_cell 20 370 руб.
						.table_info_cell 13 870 руб.
					.table_info_row
						.table_info_cell 
							| <b> Кукуруза </b> - 33,4% (9,7 ц/га);
						.table_info_cell 2 100 руб./ц
						.table_info_cell 20 370 руб.
						.table_info_cell 13 870 руб.
					.table_info_row
						.table_info_cell 
							| <b> Пшеница </b> - 33,4% (9,7 ц/га);
						.table_info_cell 2 100 руб./ц
						.table_info_cell 20 370 руб.
						.table_info_cell 13 870 руб.
					.table_info_row
						.table_info_cell 
							| <b> Клевер (2 укоса) </b> - 33,4% (9,7 ц/га);
						.table_info_cell 2 100 руб./ц
						.table_info_cell 20 370 руб.
						.table_info_cell 13 870 руб.