extends ../main-layout

block title
	| Главная

block content

	section
		.container_inner
			.hero_wrap
				.hero_head
					h1 Верхнекамские удобрения
				.hero_title
					h2 Крупнейший в России производитель фосфоритной муки

	section
		.container_inner
			.about_top_wrap
				.about_top_text
					h2 Наша миссия
					p 
						| Работать на достижение продовольственной безопасности России, 
						| предоставляя сельхозтоваропроизводителям качественные и недорогие 
						| минеральные удобрения
				.about_top_foto
					img(src="img/foto06.jpg", alt="")

	section
		.container_inner
			h2 Наши преимущества
			.advantages_list
				.advantages_item
					.advantages_total
						p 2014г.
					.advantages_text
						p Начало нашей работы. Мы получили огромный опыт за время работы компании
				.advantages_item
					.advantages_total
						p 50 человек
					.advantages_text
						p Столько людей работает в штате и благодаря им мы держим наши стандарты качества на высшем уровне
				.advantages_item
					.advantages_total
						p 80 000 тонн
					.advantages_text
						p Фосфоритной муки мы отгрузили за все время работы
				.advantages_item
					.advantages_total
						p в 7 стран мира
					.advantages_text
						p Мы поставляем свою продукцию
			.offer_list
				.offer_list_item
					.offer_icon
						img(src="img/advantages_icon01.svg", alt="")
					.offer_cont
						p Низкие цены
						span Самые доступные на рынке
				.offer_list_item
					.offer_icon
						img(src="img/advantages_icon02.svg", alt="")
					.offer_cont
						p Гибкие условия
						span Индивидуальный  подход
				.offer_list_item
					.offer_icon
						img(src="img/advantages_icon03.svg", alt="")
					.offer_cont
						p Доставка по всей России
						span Доставим в любую точку страны
				.offer_list_item
					.offer_icon
						img(src="img/advantages_icon04.svg", alt="")
					.offer_cont
						p Надежный поставщик
						span Большой опыт работы в отрасли

	section
		.container_inner
			h2 Новости
			.news_slide
				.news_slide_item
					a(href="#").news_link
						.overlay
						img(src="img/foto05.jpg", alt="")
						.news_content
							.news_head
								p Минсельхоз показал символику для экопродуктов
							.news_info
								.news_title
									p Новости Москвы
								.news_date
									p 20 сентября 2019
				.news_slide_item
					a(href="#").news_link
						.overlay
						img(src="img/foto05.jpg", alt="")
						.news_content
							.news_head
								p Минсельхоз показал символику для экопродуктов
							.news_info
								.news_title
									p Новости Москвы
								.news_date
									p 20 сентября 2019
				.news_slide_item
					a(href="#").news_link
						.overlay
						img(src="img/foto05.jpg", alt="")
						.news_content
							.news_head
								p Минсельхоз показал символику для экопродуктов
							.news_info
								.news_title
									p Новости Москвы
								.news_date
									p 20 сентября 2019
				.news_slide_item
					a(href="#").news_link
						.overlay
						img(src="img/foto05.jpg", alt="")
						.news_content
							.news_head
								p Минсельхоз показал символику для экопродуктов
							.news_info
								.news_title
									p Новости Москвы
								.news_date
									p 20 сентября 2019
				.news_slide_item
					a(href="#").news_link
						.overlay
						img(src="img/foto05.jpg", alt="")
						.news_content
							.news_head
								p Минсельхоз показал символику для экопродуктов
							.news_info
								.news_title
									p Новости Москвы
								.news_date
									p 20 сентября 2019

	section
		.container_inner
			.time_wrap
				.time_text
					h2 Производственный процесс
					p
						| Технология производства фосфоритной муки предусматривает следующие 
						| операции: доставку обогащенного методом классифицирующей промывки 
						| фосфоритного концентрата со склада сырья до промежуточного склада. 
						| После этого фосфоритный концентрат скребковым дозатором подается в 
						| технологическую линию, где он сушится до влажности 1,5%, затем 
						| подвергается предварительному дроблению и далее подается в шаровую 
						| мельницу для размола. После размола фосфоритная мука классифицируется 
						| по крупности на марки А, Б, В, после чего осуществляется ее фасовка.
						| Проектная мощность цеха по производству фосфоритной муки составляет 
						| 30’000 тонн в год, однако при наличии устойчивого платежеспособного 
						| спроса производительность может быть увеличена до 45’000 тонн в год.
						| Цех по производству фосфоритной муки располагает собственными 
						| складскими помещениями общей площадью 2’500 м2, позволяющими 
						| складировать одновременно до 5’000 тонн готовой продукции.
						| Отгрузка фосфоритной муки потребителям может осуществляться как 
						| автомобильным, так и железнодорожным транспортом (ст. Верхнекамская 
						| ГЖД, код станции 275507).
				.time_foto
					.time_foto_col.small
						a(href="img/foto02.jpg" data-fancybox="gallery").time_foto_link
							img(src="img/foto02.jpg", alt="About foto")
					.time_foto_col.wide
						a(href="img/foto03.jpg" data-fancybox="gallery").time_foto_link
							img(src="img/foto03.jpg", alt="About foto")
						a(href="img/foto04.jpg" data-fancybox="gallery").time_foto_link
							img(src="img/foto04.jpg", alt="About foto")

	section
		.container_inner
			h2 География поставок
			.map_wrap
				img(src="img/map.jpg", alt="")

	section
		.container_inner
			.about_wrap
				.about_info
					h2 Цена фосфоритной муки
					.about_info_inner
						.about_info_item
							.text
								| С 01 января 2019 года цена на фосфоритную муку Верхнекамскую 
								| марки: А, Б, В Марка А установлена в размере:
							span В цену входит стоимость упаковки (МКР) и расходы на погрузку в транспортное средство.
						.about_info_item
							.price_main 4560 руб. за 1 тонну
							.price_main_title (в том числе НДС (20%) 760 руб.)
				.about_foto
					img(src="img/foto01.jpg", alt="")

	section.section_reviews
		.container_inner
			h2 Партнеры
			.partenrs_slide
				.partenrs_slide_item
					img(src="img/partner01.png", alt="")
				.partenrs_slide_item
					img(src="img/partner02.png", alt="")
				.partenrs_slide_item
					img(src="img/partner03.png", alt="")
				.partenrs_slide_item
					img(src="img/partner04.png", alt="")
				.partenrs_slide_item
					img(src="img/partner01.png", alt="")
				.partenrs_slide_item
					img(src="img/partner02.png", alt="")
				.partenrs_slide_item
					img(src="img/partner03.png", alt="")

	section.section_reviews
		.container_inner
			h2 Отзывы
			.reviews_slide
				.reviews_slide_item
					.reviews_top
						.reviews_logo
							img(src="img/reviews01.jpg", alt="Reviews")
						.reviews_title
							p Олег Мусихин 
							p ”СХП Елгань” (Журнал “Вятская губерния”)
					.reviews_cont
						p 
							| Для нас это просто клад. Еще когда я начал работать агрономом в 
							| начале 90-х, мы завозили фосмуку, и она нам давала очень хорошую 
							| при- бавку урожая. Ведь кислотность препятствует доступу фосфора. 
							| Поэтому потенциальная уро- жайность - 6-7 ц/га. И то растет только 
							| рожь или овес. Когда вносишь фосмуку. она раскисляет почву, 
							| увеличивается содержание фосфора, и он становится доступным, 
							| начинает расти пшеница, ячмень, клевера и даже люцерна, а это 
							| перспективный вид корма».
				.reviews_slide_item
					.reviews_top
						.reviews_logo
							img(src="img/reviews01.jpg", alt="Reviews")
						.reviews_title
							p Алекандр Рассохин,
							p ООО Новомедянское (Журнал “Вятская губерния”)
					.reviews_cont
						p 
							| О земле мы заботимся и стараемся использовать ее более эффективно. 
							| (...) На одном поле до фосфоритования мы получили урожай ржи 10 ц/га, 
							| после фосфоритования - 27 ц/га. Планируем выйти на стабильный 
							| результат в 20 ц/га
				.reviews_slide_item
					.reviews_top
						.reviews_logo
							img(src="img/reviews01.jpg", alt="Reviews")
						.reviews_title
							p Олег Мусихин 
							p ”СХП Елгань” (Журнал “Вятская губерния”)
					.reviews_cont
						p 
							| О земле мы заботимся и стараемся использовать ее более эффективно. 
							| (...) На одном поле до фосфоритования мы получили урожай ржи 10 ц/га, 
							| после фосфоритования - 27 ц/га. Планируем выйти на стабильный 
							| результат в 20 ц/га. Когда вносишь фосмуку. она раскисляет почву, 
							| увеличивается содержание фосфора, и он становится доступным, 
							| начинает расти пшеница, ячмень, клевера и даже люцерна
				.reviews_slide_item
					.reviews_top
						.reviews_logo
							img(src="img/reviews01.jpg", alt="Reviews")
						.reviews_title
							p Алекандр Рассохин,
							p ООО Новомедянское (Журнал “Вятская губерния”)
					.reviews_cont
						p 
							| О земле мы заботимся и стараемся использовать ее более 
							| эффективно. (...) На одном поле до фосфоритования мы 
							| получили урожай ржи 10 ц/га.

	section.section_contact
		.container_inner
			.contact_wrap
				.contact_form
					h2.mod_w Свяжитесь с нами
					form
						.form_field
							input(type="text" placeholder="Ваше Имя").form_input
						.form_field
							input(type="tel" placeholder="Ваш телефон").form_input
						.form_field
							input(type="email" placeholder="Ваше E-mail").form_input
						.form_field
							.checkbox_wrap
								input(type="checkbox")#checkPrivacy.form_checkbox.styled
								label(for="checkPrivacy").form_label Я соглашаюсь с политикой конфиденциальности
							button.form_submit(type="submit") Отправить
				.contact_info
					.contact_info_row
						.contact_info_title
							p Адрес:
						.contact_info_text
							p 121248, Москва, ул Стрелецкая, дом 6
					.contact_info_row
						.contact_info_title
							p  E-mail:
						.contact_info_text
							a(href="mailto:vku@cheminvest.org") vku@cheminvest.org
					.contact_info_row
						.contact_info_title
							p Телефон:
						.contact_info_text
							a(href="tel:+7(916)-620-12-28") +7 (916)-620-12-28 