extends ../main-layout

block title
	| Продукция

block content
	section
		.container_inner
			.about_wrap
				.product_head
					.page_head
						h2 Продукция
				.product_content
					.product_content_text
						p
							| Содержание  подвижных форм фосфора является одним из  основных 
							| показателей плодородия земель сельскохозяйственного назначения.
						p
							| Данные многочисленных исследований доказывают, что по 
							| обеспеченности почв фосфором оптимумы находятся в пределах 
							| значений содержания подвижного фосфора ( Р2О5): - для 
							| песчаных  -  150-200 мг/кг, для супесчаных -  200-250 мг/кг, 
							| для глинистых и суглинистых почв – 250-300 мг/кг почвы.
						p
							| Достижение оптимального фосфатного режима за счет водорастворимых 
							| фосфорных удобрений при сегодняшнем уровне их применения и ценах 
							| на них нереальная задача.
						p
							| Одним из наиболее эффективных способов решения проблемы 
							| пополнения запасов подвижного фосфора в почве является применение 
							| фосфоритной муки.

	section
		.container_inner
			.stage_box
				h4 Характеристики фосмуки
				.hexagon_wrapper
					.hexagon_row.hexagon_row_s
						.hexagon.hexagon_one
							img(src="img/hexagon.png", alt="").hexagon_foto
							.hex_small
								img(src="img/hexagon_mini.png", alt="")
							.hexagon_inner
								p Массовая доля фосфатов в пересчете на Р2О5 в сухом веществе, не менее 22%.
							.hexagon_nubmer 
								p 01
						.hexagon.hexagon_seven
							img(src="img/hexagon.png", alt="").hexagon_foto
							.hex_small
								img(src="img/hexagon_mini.png", alt="")
							.hexagon_inner
								p
									| Массовая доля влаги, не более 1,5%
							.hexagon_nubmer 
								p 07
					.hexagon_row.hexagon_row_up
						.hexagon.hexagon_two
							img(src="img/hexagon.png", alt="").hexagon_foto
							.hex_small
								img(src="img/hexagon_mini.png", alt="")
							.hexagon_inner
								p P2O5 в усвояемой форме не менее 80%
							.hexagon_nubmer 
								p 02
						.hexagon_center
							img(src="img/agronomy.png", alt="").hexagon_foto
						.hexagon.hexagon_six
							img(src="img/hexagon.png", alt="").hexagon_foto
							.hex_small
								img(src="img/hexagon_mini.png", alt="")
							.hexagon_inner
								p
									| Гранулометрический состав, характеризующий долю частиц, % 
									| оставшихся на сите размером ячеек в свету, мм: 0,5 мм - не более 
									| 3; 0,18 мм - не более 10.
							.hexagon_nubmer 
								p 06
					.hexagon_row.hexagon_row_s.hexagon_row_up
						.hexagon.hexagon_three
							img(src="img/hexagon.png", alt="").hexagon_foto
							.hex_small
								img(src="img/hexagon_mini.png", alt="")
							.hexagon_inner
								p 
									| Микроэлементы: Медь (Cu) — 12 мг/кг, Молибден (Mo) — 110 мг/кг, <br> 
									| Цинк (Zn) — 240 мг/кг, <br> Бор (B) — 37 мг/кг.
							.hexagon_nubmer 
								p 03
						.hexagon.hexagon_five
							img(src="img/hexagon.png", alt="").hexagon_foto
							.hex_small
								img(src="img/hexagon_mini.png", alt="")
							.hexagon_inner
								p
									| Фосфоритная мука Верхнекамская марки А, Б, В производства ООО 
									| «Верхнекамские удобрения» представляет собой порошок темно-серого 
									| цвета,без запаха.
							.hexagon_nubmer 
								p 05
					.hexagon_row.hexagon_row_up.hexagon_row_single
						.hexagon.hexagon_four
							img(src="img/hexagon.png", alt="").hexagon_foto
							.hex_small
								img(src="img/hexagon_mini.png", alt="")
							.hexagon_inner
								p
									| Химический состав (среднее в сухом веществе): P2O5 - 23%; Cao - 
									| 43%: MgO - 1^1%: Fe (в различной степени окисления)  - 
									| 4,9%: Al2O3 - 2,6%: F - 2,3%: CO2 - 4<7%: Na2O+K2O - 1<6%: H.O. 
									| (нерастворимый(в кислоте) остаток, т.е. Sio2 и кремнеземы) - 
									| 10,4%; SO3 - 1.0%: FeS2 - 2,1%: Сорг. - 0,8%: прочие - 2,5%
							.hexagon_nubmer 
								p 04

	section
		.container_inner
			.about_wrap
				.product_head
				.product_content
					h4 Регламенты применения фосфоритной муки Верхнекамской:
					.product_content_text
						p
							| <b> Культуры, для которых планируется использование фосфоритной 
							| муки </b> - под все сельскохозяйственные, плодово-ягодные и 
							| декоративные культуры, газоны.
						p
							| <b> Сроки внесения агрохимиката: </b> применяют как основное фосфорное 
							| удобрение весной или осенью с обязательным перепахиванием и 
							| максимальном перемешиванием со всем пахотным слоем, на 
							| приусадебных участках под перекопку почвы.
						p
							| <b> Ограничений по применению фосфоритной муки нет. </b>

	section
		.container_inner
			.stage_box
				h4 Эффекты фосмуки
				.hexagon_wrapper
					.effects_wrap
						.effects_row
							.effects_cell
								.effect_title
									img(src="img/effect01.png", alt="").effect_icon
								.box_line
								.effect_text
									p
										| Обеспечение экономии денежных средств по Р205 не менее 
										| чем на 3 000 рублей в год на один га
							.effects_cell
								.effect_title
									img(src="img/effect06.png", alt="").effect_icon
								.box_line
								.effect_text
									p
										| Повышение кокурентноспособности за счет снижения 
										| себестоимости сельскохозяйственной продукции как на 
										| внутреннем, так и на внешнем рынке
						.effects_row
							.effects_cell
								.effect_title
									img(src="img/effect02.png", alt="").effect_icon
								.box_line
								.effect_text
									p
										| Благоприятное влияние на качество сельскохозяйственной продукции
							.effects_cell
								.effect_title
									img(src="img/effect07.png", alt="").effect_icon
								.box_line
								.effect_text
									p
										| Снижение почвенной кислотности
						.effects_row
							.effects_cell
								.effect_title
									img(src="img/effect03.png", alt="").effect_icon
								.box_line
								.effect_text
									p
										| Повышение пищевой ценности продукции АПК
							.effects_cell
								.effect_title
									img(src="img/effect08.png", alt="").effect_icon
								.box_line
								.effect_text
									p
										| Повышение устойчивости сельскохозяйственных культур к 
										| полеганию и засухе
						.effects_row
							.effects_cell
								.effect_title
									img(src="img/effect04.png", alt="").effect_icon
								.box_line
								.effect_text
									p
										| Повышение потенциального плодородия почв и доведение 
										| содержания подвижного фосфора до 250 мг/кг почвы
							.effects_cell
								.effect_title
									img(src="img/effect09.png", alt="").effect_icon
								.box_line
								.effect_text
									p
										| Повышение в почвах до средней степени обеспеченности 
										| содержания микроэлементов (цинка, бора, молибдена, меди, 
										| марганца)
						.effects_row
							.effects_cell
								.effect_title
									img(src="img/effect05.png", alt="").effect_icon
								.box_line
								.effect_text
									p
										| Ускоренное созревания растений
							.effects_cell
								.effect_title
									img(src="img/effect10.png", alt="").effect_icon
								.box_line
								.effect_text
									p
										| Повышение урожайности сельскохозяйственных культур


	section
		.container_inner
			.about_wrap
				.product_head
				.product_content
					h4 Технология внесения
					.product_content_text
						p
							| Фосфоритную муку целесообразно вносить под зяблевую 
							| почвообработку. Лучшим способом ее заделки в почву является 
							| вспашка, которую проводят на соответствующую глубину в зависимости 
							| от выращиваемой культуры. Так, на черноземных и серых лесных 
							| почвах под зерновые и зернобобовые вспашку проводят на глубину 
							| 20-22 см, кукурузу, подсолнечник и картофель — 25-27 и сахарую 
							| свеклу, кормовые и столовые — 27-30 см.
						p
							| При безотвальных способах обработки фосфоритную муку заделывают 
							| дисковыми орудиями на глубину 10-12 см, а затем проводят 
							| безотвальную обработку на такую ​​же глубину, как и вспашку. 
							| На дерново-подзолистых основную обработку следует проводить на 
							| глубину обрабатываемого слоя. Норма внесения фосфоритной муки 
							| зависит от уровня дефицита фосфора и степени кислотности почвы, 
							| составляет от 0,5 до 2,0 т/га. Такая норма рассчитана на трех, 
							| четырехлетнюю воздействие, при действии которой дополнительное 
							| внесение под основную обработку фосфорные удобрения и раскислители 
							| не нужны.
						p
							| Фосфоритную муку можно вносить и весной — под предпосевную 
							| культивацию. Однако эффективность ее в год внесения снижается до 
							| 30%. Она хорошо смешивается с органическими удобрениями (навоз, 
							| компосты, сапропель и т.п.), повышая их эффективность и плодородие 
							| почвы.

	section
		.container_inner
			.stage_box
				h4 Техника для внесения