include mixins/mixins

doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(http-equiv='Content-Type', content='IE=edge,chrome=1')
		meta(name='viewport', content='width=device-width')
		meta(name="cmsmagazine" content="cdc79537f1d9f113c73cd2fd46ca0125")
		meta(name="author" content="Веб-студия")
		meta(name="description" content="Веб-студия")
		link(href='img/favicon_x32.ico', rel='icon', type="img/ico")
		link(href='img/favicon_x32.ico', rel='apple-touch-icon')
		link(href='css/normalize.css', rel='stylesheet')
		link(href='css/bootstrap.min.css', rel='stylesheet')
		link(href='css/jquery.fancybox.css', rel='stylesheet')
		link(href='css/slick.css', rel='stylesheet')
		link(href='css/jquery.formstyler.css', rel='stylesheet')
		link(href='css/main.css', rel='stylesheet')

		title
			block title
	body
		#pagePreloader.preloder
			.loader

		.wrapper
			.main_container
				include parts/header
				block content
			include parts/footer

		script(src="js/libs.min.js")
		script(src="js/main.min.js")