footer.footer
	.container_inner
		.footer_inner
			.logo
				a(href="/").logo_link
					img(src="img/logo.svg", alt="Logo")
			.footer_content
				.foot_item
					.foot_item_head
						p Адрес:
					.foot_item_cont
						p 612830, Кировская область, поселок городского типа Рудничный, ул. Комсомольская, д.2
				.foot_item
					.foot_item_head
						p Контакты:
					.foot_item_cont
						a.phone_link(href="tel:+7(916)-620-12-28") +7 (916)-620-12-28
						a.email_link(href="mailto:vku@cheminvest.org") vku@cheminvest.org
				.foot_item
					.foot_item_head
						p Документы:
					.foot_item_cont
						a.wts_link(href="#") Создание сайта WAYTOSTART


//- .modal.fade(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")#orderMaster
//- 	.modal-dialog(role="document")
//- 		.modal-content
//- 			.modal-header
//- 				.modal-title Заказать мастер класс
//- 				button(data-dismiss="modal" aria-label="Close").close
//- 					span(aria-hidden="true")
//- 			.modal-body
//- 				form.modal-form
//- 					.form-field
//- 						input(type="text" name="userName" placeholder="Представьтесь, пожалуйста").form-input 
//- 					.form-field.form-field_half
//- 						input(type="tel" name="userPhone" placeholder="Телефон").form-input
//- 						input(type="email" name="userMail" placeholder="E-mail").form-input
//- 					p Нажимая кнопку «Отправить», я согласен на обработку моих персональных данных

