footer.footer
	.container_inner
		.footer_inner
			.logo
				a(href="/").logo_link
					img(src="img/logo.svg", alt="Logo")
			.footer_content
				.foot_item
					.foot_item_head
						p Адрес:
					.foot_item_cont
						p 612830, Кировская область, поселок городского типа Рудничный, ул. Комсомольская, д.2
				.foot_item
					.foot_item_head
						p Контакты:
					.foot_item_cont
						a.phone_link(href="tel:+7(916)-620-12-28") +7 (916)-620-12-28
						a.email_link(href="mailto:vku@cheminvest.org") vku@cheminvest.org
				.foot_item
					.foot_item_head
						p Документы:
					.foot_item_cont
						a.wts_link(href="#") Создание сайта WAYTOSTART


.modal.fade(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")#orderCall
	.modal-dialog(role="document")
		.modal-content
			.modal-header
				.modal-title  Оставить заявку
				button(data-dismiss="modal" aria-label="Close").close
					span(aria-hidden="true")
			.modal-body
				.main_contacts
					form
						.form_field
							input(type="text" placeholder="Ваше Имя").form_input
						.form_field
							input(type="tel" placeholder="Ваш телефон").form_input
						.form_field
							input(type="email" placeholder="Ваше E-mail").form_input
						.form_field
							.checkbox_wrap
								input(type="checkbox")#checkPrivacy.form_checkbox.styled
								label(for="checkPrivacy").form_label Я соглашаюсь с политикой конфиденциальности
							button.form_submit(type="submit") Отправить

