header.header
	.container_inner
		.header_nav
			.logo.logo_header
				a(href="/").logo_link.logo_link_header
					img(src="img/logo.svg", alt="Logo")
			.navbar.navbar-expand-lg.navbar-light
				button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation")
					span.navbar-toggler-icon
					span.sandwich
						span.sw-topper
						span.sw-bottom
						span.sw-footer
				.collapse.navbar-collapse#navbarMenu
					ul.navbar-nav.navbar-nav_main
						li.nav-item
							a(href="about.html").nav-link О нас
						li.nav-item 
							a(href="products.html").nav-link Продукция
						li.nav-item 
							a(href="experiences.html").nav-link Наши опыты
						li.nav-item 
							a(href="contacts.html").nav-link Контакты
					ul.navbar-nav.navbar-nav_mob
						li.nav-item
							a(href="about.html").nav-link О нас
						li.nav-item 
							a(href="products.html").nav-link Продукция
						li.nav-item 
							a(href="experiences.html").nav-link Наши опыты
						li.nav-item 
							a(href="contacts.html").nav-link Контакты
			button.main_btn Оставить заявку